.banner--h {
  background-image: linear-gradient(to left, $blanco 0%, $secundario 100%);
  min-height: 250px;
}

.banner__title {
  color: $blanco;
  font-range: 420px 1200px;
  font-size: responsive 30px 75px;
  margin: 0;
}
