<section class="container mt-4 pt-4 mb-4 pb-4">
  <h2 class="mb-4">
    Las más pedidas
  </h2>
  <ul class="row">
    <li class="col-md-6 col-lg-4 mb-4">
      <div class="product">
        <figure class="product__img-box">
          <img src="./dist/img/productos/p5.jpg" alt="Producto Mx21" class="product__img">
          <figcaption class="product__cta d-flex justify-content-center align-items-center">
            <a href="detalle-producto.html" class="btn btn--primary">Preparar orden</a>
          </figcaption>
        </figure>
        <div class="product__body">
          <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="col-8">
              <h5 class="product__name">Candyneitor</h5>
              <a href="javascript:void(0)" class="wish-list__link">
                Añadir a deseos <span class="ico-love"></span>
              </a>
            </div>
            <div class="product__price col-4 text-right">
              S/. 850
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-6 col-lg-4 mb-4">
      <div class="product">
        <figure class="product__img-box">
          <img src="./dist/img/productos/p4.jpg" alt="Producto Mx21" class="product__img">
          <figcaption class="product__cta d-flex justify-content-center align-items-center">
            <a href="detalle-producto.html" class="btn btn--primary">Preparar orden</a>
          </figcaption>
        </figure>
        <div class="product__body">
          <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="col-8">
              <h5 class="product__name">Mega Kike</h5>
              <a href="javascript:void(0)" class="wish-list__link">
                Añadir a deseos <span class="ico-love"></span>
              </a>
            </div>
            <div class="product__price col-4 text-right">
              S/. 1250
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-6 col-lg-4 mb-4">
      <div class="product">
        <figure class="product__img-box">
          <img src="./dist/img/productos/p2.jpg" alt="Producto Mx21" class="product__img">
          <figcaption class="product__cta d-flex justify-content-center align-items-center">
            <a href="detalle-producto.html" class="btn btn--primary">Preparar orden</a>
          </figcaption>
        </figure>
        <div class="product__body">
          <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="col-8">
              <h5 class="product__name">Dona Mix</h5>
              <a href="javascript:void(0)" class="wish-list__link">
                Añadir a deseos <span class="ico-love"></span>
              </a>
            </div>
            <div class="product__price col-4 text-right">
              S/. 45
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
<app-banner [title]=bannerTitle></app-banner>
<section class="container mt-4 pt-4 mb-4 pb-4">
  <h2 class="mb-4">
    Tus favoritos
  </h2>
  <ul class="row">
    <li class="col-md-6 col-lg-4 mb-4">
      <div class="product">
        <figure class="product__img-box">
          <img src="./dist/img/productos/p6.jpg" alt="Producto Mx21" class="product__img">
          <figcaption class="product__cta d-flex justify-content-center align-items-center">
            <a href="detalle-producto.html" class="btn btn--primary">Preparar orden</a>
          </figcaption>
        </figure>
        <div class="product__body">
          <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="col-8">
              <h5 class="product__name">Torta de chocolate con pelo de gato</h5>
              <a href="javascript:void(0)" class="wish-list__link">
                Añadir a deseos <span class="ico-love"></span>
              </a>
            </div>
            <div class="product__price col-4 text-right">
              S/. 45
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-6 col-lg-4 mb-4">
      <div class="product">
        <figure class="product__img-box">
          <img src="./dist/img/productos/p3.jpg" alt="Producto Mx21" class="product__img">
          <figcaption class="product__cta d-flex justify-content-center align-items-center">
            <a href="detalle-producto.html" class="btn btn--primary">Preparar orden</a>
          </figcaption>
        </figure>
        <div class="product__body">
          <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="col-8">
              <h5 class="product__name">La Mayte</h5>
              <a href="javascript:void(0)" class="wish-list__link">
                Añadir a deseos <span class="ico-love"></span>
              </a>
            </div>
            <div class="product__price col-4 text-right">
              S/. 45
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="col-md-6 col-lg-4 mb-4">
      <div class="product">
        <figure class="product__img-box">
          <img src="./dist/img/productos/p4.jpg" alt="Producto Mx21" class="product__img">
          <figcaption class="product__cta d-flex justify-content-center align-items-center">
            <a href="detalle-producto.html" class="btn btn--primary">Preparar orden</a>
          </figcaption>
        </figure>
        <div class="product__body">
          <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="col-8">
              <h5 class="product__name">El pack</h5>
              <a href="javascript:void(0)" class="wish-list__link">
                Añadir a deseos <span class="ico-love"></span>
              </a>
            </div>
            <div class="product__price col-4 text-right">
              S/. 45
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
