body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.55;
}

* {
  &:active,
  &:focus,
  &:link {
    outline: none !important;
  }
}

.bg--textura {
  position: relative;

  &::before {
    background-image: url(../img/bg/p1.png);
    content: "";
    height: 100%;
    opacity: .25;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 100;
  letter-spacing: -1px;
  font-size: responsive 30px 48px;
  font-range: 420px 1200px;
}

h2 {
  font-weight: 100;
  letter-spacing: -1px;
  font-size: responsive 25px 43px;
  font-range: 420px 1200px;
}

h1,
h2 {
  font-family: billabong, 'billabongregular';
}

a
 {
  color: $primario;

  &:focus,
  &:hover {
    color: $primario;
    outline: 0;
  }
}

ol,
ul {
	list-style: none;
	margin: auto;
	padding: 0;
  text-align: left;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}
