nav {
  background-color: $blanco;
  border-bottom: 1px solid $plomo-sombra-1;
}

.logo-txt {
  color: $secundario;
  margin: 0;
  position: relative;
  top: 5px;

  a {
    text-decoration: none !important;
  }
}

.nav__counter {
  background-color: $primario;
  border-radius: 50%;
  color: $blanco;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  text-align: center;
  width: 30px;
}
