.u-ph-xs--15 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-mr-xs--15 {
  margin-right: 15px;
}

.u-mw-xs--70 {
  max-width: 70px;
}

.u-txt--no-decoration {
  text-decoration: none !important;
}
